{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }]
  ],
  "plugins": [
    ["babel-plugin-styled-components", {
      "ssr": false,
      "pure": true,
      "minify": true,
      "transpileTemplateLiterals": true
    }]
  ]
}
